<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PublishSection" type="e10publish.PublishSection, e10publish"/>
  </configSections>
  <PublishSection
    siteUrl="https://ainstainer7868.edge10online.co.uk/"
    targetConnectionString="Server=https://ukdata.edge10hosted.org;Port=443;User=admin;Password=4dm1n;DatabaseName=ainstainer7868" />
</configuration>